
html{
    
    color: whitesmoke;
    background-color: #1c1919;

}

@font-face {
  font-family: 'sf mono';
  src: url('/fonts/SFMono-Bold.woff') format('woff'),
      url('/fonts/SFMono-Bold.woff2') format('woff2'),
      url('/fonts/SFMono-Bold.otf') format('opentype');
  font-size: 21px;
}

p{
    color: whitesmoke;
}
h1 {
    color:aqua;
    margin-top: 2%;
    text-align: center;
}

a {
    text-decoration: none;
  }

  



body{
    font-family: 'sf mono';
    background-color: #222121;
    color: aqua;
    font-size: 22px;
    background-color: #1c1919;

}

/* Change the default color */
.social-icons a {
    color: whitesmoke; /* Default icon color, e.g., black */
    font-size: 40px;
    margin-left: 3ex;
    
  } 
  
  /* Change color on hover */
  .social-icons a:hover {
    color: aqua; /* Change color on hover, e.g., LinkedIn blue */
  }

  .navbar a{
    font-size: larger;
    margin-left: 15em;
    color: whitesmoke;
    
  }
  
  .navbar a:hover{
    text-decoration: underline;
    color: aqua;
  }

sub{
    color: whitesmoke;  
}

